<!DOCTYPE html>
<html>
  <head>
    <title>Compra tu nuevo producto</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
    <section>
      <div class="product">
        
        <div class="description">
          <h3>Franela</h3>
          <h5>€20.00</h5>
        </div>
      </div>
      <form action="/create-checkout-session" method="POST">
        {% csrf_token %}
        <button type="submit" id="checkout-button">Checkout</button>
      </form>
    </section>
  </body>
</html>